.dbtHelperDebugger {
    z-index: 1000;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    padding-bottom: 40px;
    font-family: "Helvetica Neue";
    background: white;
}

.dbtHelperDebugger h1 {
    margin: 10px auto auto 20px;
    font-size: 30px;
    font-weight: 500;
}

.dbtHelperDebugger div {
    background-color: #dcdcdc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 20px;
}